body {
  background: linear-gradient(to right,#b0b1d1, #eff0ff);
  --color-primary: #ffffff;
  --color-secondary: #eff0ff;
  --color-tertiary: #b0b1d1;   
}
.intro {
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

/*Intro*/
.rectangle-7 {
  background: #eff0ff;
  width: 100%;
  height: 112px;
  margin: 0; 
  position: absolute;
  left: 0px;
  top: 0px;
}

.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 111.749px;
}

.dents {
  width: 600px;
  position: absolute;
  object-fit: cover;
  left: -7px;
  top: -139px;
  background-position: center;
}

@media screen and (max-width: 1200px) { /*@media = Media Queries = règles propriétés CSS en fonction de la taille d'écran, screen = écran classique (all = tous les media, print = imprimante), and = et (aussi only = uniquement, not = non), max-width = pts de rupture à 1200px (min-width <=> l'inverse, on peut également avec height, orientation (portrait/paysage))*/
  .dents {
      width: 90%; 
  }

}

.parodontal-charting {
  color: #000000;
  text-align: left;
  font: 100 37px "Encode Sans Expanded", sans-serif;
  position: absolute;
  left: 40px;
  top: 20px;
  width: 768px;
  height: 106px;
}


/*NavBar*/
/*image graph*/
.graph {
  width: 600px;
  height: 430px;
  position: absolute;
  left: 620px;
  top: -103px;
}


/*Bouton*/
    /*(caractéristiques communes boutons)*/
    button {
      padding: 5px 0px, 0px, 5px;
      border: none ; 
      border-radius: 8px;
      background-color: #eff0ff;
    }
    button:hover { /*effet survol*/
      color: var(--color-primary);
      background-color: var(--color-tertiary);
      cursor: pointer;
    }
    button:hover>img{ /*mettre uniquement les images dans les boutons en blanche*/
      filter: invert(1);
    }
    button:focus { /*effet au clique*/
      color: var(--color-primary);
      background-color: var(--color-tertiary);
      border: 2px solid var(--color-primary);
    }
    button:focus>img{
      filter: invert(1);
    }

    /*Utilisation - Contact*/
        /*Textes*/
        .utilisation {
          color: #000000;
          text-align: center;
          font: 200 15px "Inter", sans-serif;
          position: absolute;
          left: 380px;
          top: 130px;
          width: 160px;
          height: 30px;
        }
        .contact {
          color: #000000;
          text-align: center;
          font: 200 15px "Inter", sans-serif;
          position: absolute;
          left: 530px;
          top: 130px;
          width: 140px;
          height: 30px;
        }

    /*Langage*/
        /*texte*/
        .langage {
          color: #000000;
          text-align: left;
          font: 300 20px "Inter", sans-serif;
          position: absolute;
          left: 1030px;
          top: 90px;
          width: 216px;
          height: 56px;
        }
        /*image*/
        .triangle {
          width: 32px;
          height: 26px;
          position: absolute;
          left: 100px;
          top: 5px;
        }

    /*Téléchargement - Imprimante*/
        /*boutons*/
        .telechargement-btn {
          width: 58px;
          height: 42px;
          position: absolute;
          left: 50px;
          top: 120px;
        }
        .imprimante-btn {
          width: 58px;
          height: 42px;
          position: absolute;
          left: 175px;
          top: 120px;
        }
        /*images*/
        .telechargement {
          width: 132px;
          height: 80px;
          position: absolute;
          left: -38px;
          top: -20px;
        }
        .imprimante {
          width: 90px;
          height: 75px;
          position: absolute;
          left: -18px;
          top: -12px;
        }

@media screen and (max-width: 992px) { 
    .dents1 {
      grid-template-columns: 41px 52px 47px 34px 36px 40px 51px 48px 51px 40px 35px 35px 36px 50px 54.5px 80px ; 
    }
    .dents1 img {
      max-width: 100px;
      }
    .dents1 h2 {
      text-align: center;
      width: 100px;
      font-size: medium;
    }
    .dents2 {
      grid-template-columns: 46.5px 68px 30px 42.5px 29px 42.5px 33.5px 39px 33.5px 43px 28.5px 42px 29px 69px 45px 80px ; 
    }
    .dents2 img {
      max-width: 100px;
      }
    .dents2 h2 {
      text-align: center;
      width: 100px;
      font-size: medium;
    }
    .dents3 {
      grid-template-columns: 32.5px 60px 39px 42px 47px 38px 33px 48px 33px 38px 47.5px 41px 45px 52px 32px 80px ; 
    }
    .dents3 img {
      max-width: 100px;
      }
    .dents3 h2 {
      text-align: center;
      width: 100px;
      font-size: medium;
    }
    .dents4 {
      grid-template-columns: 48.5px 40px 63.5px 31px 48px 29px 29px 18px 29.5px 28px 48px 32px 63px 40px 48.5px 80px ; 
    }
    .dents4 img {
      max-width: 100px;
      }
    .dents4 h2 {
      text-align: center;
      width: 100px;
      font-size: medium;
    }
    .fond {
      width: 760px;
      height: 1400px;
    }  
  }

  @media screen and (max-width: 768px) { 
    .dents1 {
      grid-template-columns: 28.9px 36px 33px 24px 25px 28px 36px 34px 36.5px 28.5px 24px 24.9px 25px 35px 38.1px 80px ; 
    }
    .dents1 img {
      max-width: 70px;
      }
    .dents1 h2 {
      text-align: center;
      width: 70px;
      font-size: small;
    }
    .dents2 {
      grid-template-columns: 32.5px 47.83px 20.5px 30px 20.1px 30px 23px 27.5px 23.5px 29.5px 20.5px 29px 20.5px 48.5px 32px 80px ; 
    }
    .dents2 img {
      max-width: 70px;
      }
    .dents2 h2 {
      text-align: center;
      width: 70px;
      font-size: small;
    }
    .dents3 {
      grid-template-columns: 22.9px 41px 27px 29px 33.5px 26.5px 23px 34px 23px 26.5px 33.5px 29px 32px 36.5px 22.5px 80px ; 
    }
    .dents3 img {
      max-width: 70px;
      }
    .dents3 h2 {
      text-align: center;
      width: 70px;
      font-size: small;
    }
    .dents4 {
      grid-template-columns: 34px 28.83px 44px 22px 34px 20px 20.5px 13px 20.5px 20px 33.5px 22.5px 44px 28px 34px 80px ; 
    }
    .dents4 img {
      max-width: 70px;
      }
    .dents4 h2 {
      text-align: center;
      width: 70px;
      font-size: small;
    }
    .fond {
      width: 535px;
      height: 1300px;
    }  
  }


  @media screen and (max-width: 576px) { 
    .dents1 {
      grid-template-columns: 20.5px 25.83px 23px 17.5px 18px 20px 25.5px 24px 25px 20px 17.5px 17.5px 18px 24.5px 27px 80px ; 
    }
    .dents1 img {
      max-width: 50px;
      }
    .dents1 h2 {
      text-align: center;
      width: 50px;
      font-size: x-small;
    }
    .dents2 {
      grid-template-columns: 23.5px 33.83px 15px 21px 14px 21.5px 16.5px 19.5px 16.5px 21.5px 14.5px 21.5px 14.5px 34px 23px 80px ; 
    }
    .dents2 img {
      max-width: 50px;
      }
    .dents2 h2 {
      text-align: center;
      width: 50px;
      font-size: x-small;
    }
    .dents3 {
      grid-template-columns: 16.5px 30px 19.5px 20.5px 23.5px 18.5px 16.5px 24px 17px 18.5px 23.5px 20px 22.5px 26px 16px 80px ; 
    }
    .dents3 img {
      max-width: 50px;
      }
    .dents3 h2 {
      text-align: center;
      width: 50px;
      font-size: x-small;
    }
    .dents4 {
      grid-template-columns: 24.5px 20px 31.5px 15px 24px 14.5px 14.5px 8.5px 14.5px 14.5px 23.5px 16.5px 31px 20px 24px 80px ; 
    }
    .dents4 img {
      max-width: 50px;
      }
    .dents4 h2 {
      text-align: center;
      width: 50px;
      font-size: x-small;
    }
    .fond {
      width: 385px;
      height: 1300px;
    }  
    th, td {
      font-size: medium;
    }
    th:last-child, td:last-child {
      font-size: medium;
    }
  }